@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to<br/> English With News!</h1>
    <br/>
    <br/>
    <div class="row">
        <div class="col-6" style="text-align: center">
            <img src="~/images/annie-spratt-hWJsOnaWTqs-unsplash.jpg" width="500px" />
        </div>
        <div class="col-6" style="text-align: left">
            <br/>
            <p>This application intend to be a platform where you can improve your English vocabulary by reading some news and learning all the meanings of words in the texts.</p>
            <p>Access our <a asp-area="" asp-controller="News" asp-action="Index" style="color: aqua; text-decoration: none">news list</a> to enjoy and learn!</p>
        </div>
    </div>
</div>
