@model NewsList

<style>
    .swal2-content {
        text-align: justify !important;
        font-size: 15px !important;
    }
    .swal2-title {
        font-size: 25px !important;
    }

    h2{
        font-size: 16px;
    }

    h3{
        font-size: 20px;
        font-weight: bold;
    }

    .meaningConsult:hover {
        color:aqua;
        text-decoration:underline;
    }
</style>

<div style="background-color:#000044">
    <h1 style="text-align:center">NEWS LIST 🧾</h1>
    <br/>
    <h2 style="text-align:center">Here you can check the headlines and summaries of news avaliable on famous jornalistic platforms. By clicking on the words you can see the meanings of them.</h2>
    <hr/>
</div>
<br/>
<ul>
    @foreach(News news in Model.currentNews)
    {
        var rowHeader = "";
        var list = news.headline.Split(" ");
        foreach(var word in list)
        {
            var element = $"<span class=\"meaningConsult\" id=\"meaningConsult\" data-id=\"{@word}\">{@word} </span>";
            rowHeader += element;
        }

        var rowSummary = "";
        var list2 = news.summmary.Split(" ");
        foreach(var word in list2)
        {
            var element = $"<span class=\"meaningConsult\" id=\"meaningConsult\" data-id=\"{@word}\">{@word} </span>";
            rowSummary += element;
        }
        
        <li>
            <h3 style="background-color: #505050">@Html.Raw(rowHeader)</h3>
            <p style="background-color: #202020">@Html.Raw(rowSummary)</p>
            <hr/>
        </li>
    }
</ul>

<!-- Sweet Alert-->
<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $('.meaningConsult').click(function () {
        var word = $(this).attr("data-id");
        var url = "/news/Meaning";

        $.post(url, { word: word }, function(data) {
            if (data.toUpperCase() == "NOT FOUND..") {
                var title = data;
                var m = "There is no match to the specified word."
            }
            else {
                var information = $.parseJSON(data);
                var title = information.word.toUpperCase();
                var meanings = information.meanings;
                var arr = [];

                for (var index = 0; index < meanings.length; index++) {
                    var mean = meanings[index].definitions;
                    for (var idx = 0; idx < mean.length; idx++){
                        var item = mean[idx];
                        arr.push(item.definition);
                    }
                }
                var m = arr.join(" || ");
            }

            Swal.fire(
            {
                title: title,
                text: m,
                showCancelButton: 0,
                confirmButtonColor: "#6D3227",
                confirmButtonText: "Close"
            }
            );
        });
    });

</script>