@model NewsList

<h1 style="text-align:center">NEW LIST</h1>
<ul>
    @foreach(News news in Model.currentNews)
    {
        <li>
            <h2 style="font-size:15px;font-weight:500">@news.headline</h2>
            <p style="font-size:12px;font-weight:200">@news.summmary</p>
        </li>
    }
</ul>